body {
    font-family: Arial, sans-serif;
    background-color: #BC8F8F;
}

.container {
    width: 600px;
    margin: 30px auto;
    background: #FFF0F5;
    padding: 20px;
    border : 5px solid #F08080;
    border-radius : 8px;    
}

h1 {
    text-align: center;
    font-family: "Segoe UI";
    padding: 10px;
    margin-bottom: 20px;
    border: 2px dashed #F08080;
    background-color: #FFF5EE;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-left: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

.btn-submit {
    background-color: #2ecc71; /* hijau */
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #27ae60;
}

.btn-reset {
    background-color: #e74c3c; /* merah */
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-reset:hover {
    background-color: #c0392b;
}



#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

